.place__paragraphs {
    grid-column: 2 / 3;
    grid-row: 2;
    }
    @media screen and (max-width:320px) {

        .place__paragraphs {
            padding: 0 16px;
                grid-row: 4;
                grid-column: 1;
            
        }
    }