.place__website {
    grid-row: 1;
    grid-column: 2 / 3;
    align-self: end;
}
@media screen and (max-width: 568px) {
    .place__website {
        grid-column: 1;
        grid-row: 2;
        padding: 0 16px;
    }
}
