.page__container{
    max-width: 1184px;
    margin: 0px auto;
    color: white;
    margin-top: 36px;
    }

    @media screen and (max-width:320px) {


        .page__container{
            margin-top: 20px;
        }
    }        