body{
background: #2A2C2F;
color:#fff ;
font-family: 'Inter', sans-serif;

    }    
.header{
display: flex;
text-align: center;
margin: 46px 148px 62px 148px;
width: calc(100% - 148 * 2)
}

.header__logo{
width: 190px;
height: 44px;
}

.header__links{
display: flex;
flex: 1;
position: absolute;
right: 148px;
top: 46px;
gap:18px;
list-style: none;
}

.header__lang-link{
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #fff;
text-decoration: none;
}
.header__lang-link_active{
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #fff;   
text-decoration: underline;
}


.lead{
display: flex;
flex-direction: column;
margin:0px 148px 0px 148px;
align-items: center;
text-align: center;
}

.lead__title{
display: flex;
max-width: 720px;
font-weight: bold;
font-size: 96px;
line-height: 100px;
margin: 0px;

}
.lead__subtitle{
font-weight: normal;
font-size: 30px;
line-height: 36px;
max-width: 620px;
margin: 0px;
padding-top: 32px;
}
.lead__image{
width: 100%;
height: 615px;
padding-top: 64px;

 }
.lead__caption{
position: absolute;
font-weight: normal;
font-size: 10px;
line-height: 14px;
left: 148px;
top: 1127px;
text-transform: uppercase;
}

.intro{
display: flex;
flex-direction: column;
margin:92px 148px 0px 148px;

}

.intro__title{
font-weight: 900;
font-size: 54px;
line-height: 58px;
max-width: 690px;
margin: 0px;
}

.intro__subtitle{
font-weight: normal;
font-size: 24px;
line-height: 34px;
max-width: 690px;
margin: 0px;
padding-top: 40px;
}

.into__main-text{
font-weight: normal;
font-size: 16px;
line-height: 1.63;
max-width: 690px;
margin: 0px;
padding-top: 32px;
}
.intro__list{
list-style: none;
margin: 0px;
padding: 0px;
padding-top: 33px;

}
.intro__parameter{
font-weight: bold;
font-size: 12px;
line-height: 18px;
}
.intro__span-accent{
font-weight: normal;
}

.photo-grid{
display: grid;
grid-template-columns:repeat(4,1fr);
min-height: 671px;
padding: 0px;
margin: 0px;
align-items: center;
margin:92px 48px 92px 48px;
grid-gap: 16px 16px;
}

.photo-grid__item{
width:100% ;
height:213px;
}

.places{
margin: 92px auto;
max-width: 984px;


}
.place{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: auto;
margin: 0 auto;
gap: 40px 40px;

}
.place__title{
max-width:460px;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
cursor: url('../images/Imported\ Layers\ Copy\ 4.png'), auto;	
grid-column: 1;
grid-row: 1;
margin: 0px;
padding: 0px;
}

.place__image{
max-width: 460px;
height: 340px;
cursor: url('../images/Imported\ Layers\ Copy\ 4.png'), auto;
grid-column: 1;
grid-row: 2;
padding-top: 48px;
margin-bottom: 80px;
object-fit: cover;
display:block;
}

.place__website{
list-style: none;
cursor: url('../images/Imported\ Layers\ Copy\ 4.png'), auto;
grid-column: 2;
grid-row: auto;
margin:0px;
padding:0px;

}
.url-heading{
font-weight: normal;
font-size: 12px;
line-height: 1.7;
color: #AAAAAA;

}
.place__link{
text-decoration: underline;
color: #fff;
font-weight: normal;
font-size: 18px;
line-height: 22px;
padding-top: 4px;
}
.place__paragraphs{

}
.place__paragraph{
max-width: 484px;
margin: 0 auto;
font-weight: normal;
font-size: 18px;
line-height: 1.63;
max-width: 484px;
cursor: url('../images/Imported\ Layers\ Copy\ 4.png'), auto;
grid-column: 2;
grid-row: 2;
}

.cover{
display: flex;
flex-direction: column;
margin: 92px 48px 92px 48px;
background-image:url(../images/cover-route-66.jpg);
align-items: center;
height: 1005px;
justify-content: center;
text-align: center;
opacity: 0.8;
background-repeat: no-repeat;
}
.cover__title{
font-weight: bold;
font-size: 72px;
line-height: 76px;
margin: 0px;
}

.cover__subtitle{
font-weight: normal;
font-size: 18px;
line-height: 22px;
width: 320px;
margin: 0px;
padding-top: 32px;
opacity: none;
}

.footer__links{
position: absolute;
display:flex ;
list-style: none;
bottom: 24;
}
.footer__link{
font-weight: normal;
font-size: 16px;
line-height: 18px;
text-decoration: none;
color: #fff;
padding: 18px;

}
.footer__copyrights{
position: absolute;
right: 48px;
padding-bottom: 24px;
}
@media screen and (max-width: 1024px) {

 .header{
margin: 46px 48px 62px 48px;  
}

.header__links{
right: 48px;
}

.lead{
margin:0px 48px 0px 48px;  
}

.lead__caption{
left: 48px;
}

.intro{
margin:92px 48px 0px 48px;
}

.photo-grid{
grid-template-columns:1fr 1fr 1fr;
height: auto;
}

.places{
margin: 92px 48px 92px 48px;
}

.place__title{
margin: 0px 48px 0px 48px;
}

.cover{
margin: 92px 0px 92px 0px;
}    
    }

@media screen and (max-width: 768px) {
.header{
margin: 46px 24px 62px 24px;  
} 

.header__links{
right: 24px;
}
            
.lead{
margin:0px 24px;
margin: auto;
}

.lead__caption{
left: 24px;
}

.intro{
margin:92px 24px 0px;
}

.photo-grid{
grid-template-columns:repeat(2,1fr);
margin:92px 24px 92px;

}
.places{
margin: 92px 24px;
}

.place{
gap: 28px 28px;
}

.place__title{
font-size: 42px;
}

.footer__copyrights{
right: 24px;
    
}
.place__paragraphs{
margin-bottom: 28px;
}   
}

@media screen and (max-width: 320px) {
.header{
margin: 20px 16px 50px;
width:calc(100% - 16px * 2)
}

.header__logo{
max-width: 156x;
height: 36px;
        
}
.header__links{
right: 16px;
top: 30px;
}
            
.header__lang-link{
font-size: 18px;
line-height: 20px;
}

.header__lang-link_active{
font-size: 24px;
line-height: 28px;
    }
.lead{
margin:0px;
}

.lead__title{
font-size: 40px;
line-height: 40px;
margin: 0px 16px;
                
}
.lead__subtitle{
font-size: 16px;
line-height: 28px;
padding-top: 16px;
margin: 0px 16px;
                
}
.lead__image{
width: 100%;
height: 200px;
padding-top: 40px;
                
}
.lead__caption{
position: absolute;               
left: 16px;
top: 498px;
}

.intro{
margin:86px 16px 0px;
}

.intro__title{
font-size: 32px;
line-height: 30px;
margin: 0px;
}
    
.intro__subtitle{
font-size: 24px;
line-height: 30px;
margin:0px;
padding-top: 40px;
}

.into__main-text{
font-size: 16px;
line-height: 1.63;
max-width: 690px;
margin: 0px;
padding-top: 32px;
}

.intro__list{
list-style: none;
margin: 0px;
padding: 0px;
padding-top: 33px;
        
}
.intro__parameter{
font-size: 12px;
line-height: 18px;
}

.intro__span-accent{
font-weight: normal;
}

.photo-grid{
grid-template-columns:repeat(1,1fr);
min-height: 671px;
padding: 0px;
margin: 0px;
margin:64px 16px;
grid-gap: 12px;
}

.photo-grid__item{
width:100% ;
min-height:213px;
}
.places{
margin: 64px auto;
}
.place{
grid-template-columns: repeat(1, 1fr);
}
.place__title{
font-size: 32px;
line-height: 35px;
margin: 0px 16px;
padding: 0px;
grid-column: 1;
grid-row: 1;
}

.place__image{
max-width: 100%;
height: 340px;
margin: 0px;
padding: 0px;
grid-column: 1;
grid-row: 3;
}

.place__website{
grid-column: 1;
grid-row: 2;
margin:0px 16px;
padding:0px;
}

.url-heading{
font-size: 12px;
line-height: 1.7;
}

.place__link{
font-size: 18px;
line-height: 22px;
padding-top: 4px;
}

.header__lang-link_active{
font-size: 18px;
line-height: 22px;
        }
.place__paragraphs{
margin: 30px 16px 48px;
}

.place__paragraph{
max-width: 484px;
margin: 0px ;
font-size: 18px;
line-height: 1.63;
grid-column: 1;
grid-row: 4;
}
.cover{
margin: 64px 0px;
height: 300px;
max-width: 320px;
opacity: 0.8;
}
.cover__title{
font-weight: bold;
font-size: 32px;
line-height: 35px;
margin: 0px;
}

.cover__subtitle{
font-size: 14px;
line-height: 16px;
max-width:100%;
padding-top: 32px;
}
.footer__links{
position: relative;
display:flex ;
flex-direction: column;
padding:0px;
margin: 0px;


}
.footer__link{
font-size: 24px;
line-height: 24px;
padding: 18px;

}
.footer__copyrights{
left: 16px;
font-size: 14px;
line-height: 14px;
padding-bottom: 24px;

    }

}